<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Base</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{% url 'index' %}">TL</a>
            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>
            <div class="collapse navbar-collapse " id="navbarNav ">
                <ul class="navbar-nav ">
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'updating_list:todo_list' %}">My TodoList</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'updating_list:about' %}">About Me</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'updating_list:contact' %}">Contact Me</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'user_info:login' %}">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'user_info:registration' %}">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
        <!-- Anything outseide of this will be inherited if you call base -->
        {% endblock %}
    </div>

    <script src="" async defer></script>
</body>

</html>